# Config file for automatic testing at travis-ci.org
language: python

addons:
    postgresql: "9.4"

matrix:
    include:
      # Python version is just for the look on travis.
        - python: 2.7
          env: TOX_ENV=py27-django111

        - python: 3.5
          env: TOX_ENV=py35-django111

        - python: 3.5
          env: TOX_ENV=py35-django20

        - python: 3.6
          env: TOX_ENV=py36-django111

        - python: 3.6
          env: TOX_ENV=py36-django20

        - python: 2.7
          env: TOX_ENV=linters

install:
  - pip install tox codecov

script:
  - tox -e $TOX_ENV

after_success:
  - codecov
